

html {font-size: 25px;}


body { 
    background-color:#fccca5;
    color:black;
    font-family: 'Antic Slab', serif;}

header {
   background-color:white;}

   

h1, h2 { 
    text-align: center;
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
    }

h1 {font-size: 2,25rem;}
h2 { font-size: 1,75rem;}    



.logo {color: black;
  text-decoration: none;
  font-size: 1,25 rem;
  font-weight: bold;
  margin: 1rem 0 1rem 1 rem;}

.header-nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;}

.header-menu-item {
    margin-right: 40px;
    text-decoration: none;}

    .header-menu-item a {
    color: black;
        text-decoration: none;}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;}

.heading-container{ 
align-items: center;}

.bg-light{ 
    color: rgb(57, 5, 61);
    background-image: url(../images/fruit/pexels-mikegles-26842859\ -\ Copy.jpg);  
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size:cover;
    background-position: senter, senter;
    background-attachment:scroll;
    height: 80vw;
}

.float-left {float:left;
    padding: 1rem;

}


.container {
  display:flex;
  align-items:end ; /* vertically center */
   gap: 20px; /* spacing between image and text */


}
img {
  width: 250px;
  height: auto;
}


.nav1-menu {
    margin-right: 40px;
    padding: 5px;
    border: 5px;
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;}


    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
        
      }
      
      nav ul li a {
        display: block;
        padding: 14px 20px;
        text-decoration: none;
        color: rgb(51, 49, 49);
        border: 5px;
        border-color: darkslategray;
        background-color: #f1db59;

      }
      
      nav ul li a:hover {
        background-color: #c9f01e;
      }



      footer {
        padding-top: 10px;
        text-align: center;
      }
  ul {
    list-style-type: none;

  }


  input,textarea { 
    width: 50%;
    margin: 10px auto;
    
}
.type-submit {
    align-items: center;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    border: none;
    cursor:pointer;
    box-sizing: content-box;
    padding: 12px 20px;
    width: 50%;

}

[type=submit]:hover{
    background-color: darkgreen;
}
.form-row{
    display: flex;
    justify-content: center;
}  






